<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naughty.userlogin02.dao.GoodsDao">

    <select id="getAllGoods" resultType="com.naughty.userlogin02.bean.Goods">

        SELECT *
        FROM goods
        WHERE 1=1
        <if test="name!='' and name!=null">
          and  (name like CONCAT('%',#{name,jdbcType=VARCHAR},'%') or identificationCode like CONCAT('%',#{name,jdbcType=VARCHAR},'%'))
        </if>

    </select>


        <!--修改之前先获取数据-->
    <select id="getUpdateGoods" resultType="com.naughty.userlogin02.bean.Goods">
        SELECT * FROM goods WHERE id = #{id}
    </select>

        <!--  修改-->
    <update id="editGoods">
        UPDATE goods SET code = #{code} ,identificationCode = #{identificationCode},
               name = #{name}, distributors = #{distributors},
               purchasingPrice = #{purchasingPrice}, sellingPrice = #{sellingPrice}
        WHERE id = #{id}
    </update>

        <!--添加商品-->
    <insert id="addGoods">
        INSERT INTO goods (code, identificationCode, name, distributors , purchasingPrice , sellingPrice)
        VALUES (#{code},#{identificationCode},#{name},#{distributors},#{purchasingPrice},#{sellingPrice});
    </insert>

<!--    删除商品-->
<delete id="deleteGoods">
    DELETE FROM goods WHERE id = #{id}
</delete>


    </mapper>